@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .hero {
    background-image: linear-gradient(var(--hero-gradient)),
      url(../img/hero-image-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--hero-gradient)),
        url(../img/hero-image-tab-2x.jpg);
    }
  }

  .mob-menu-tel {
    font-size: 35px;
  }
}
