:root {
  --primary-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-bckgrnd-color: #2e2f42b2;
  --hero-gradient: rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7);
  --footer-icon-bgcolor: #ffffff1a;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-bg-color: #fcfcfc;
}

/*-------------------------- Body -------------------------*/

body {
  /* max-width: 1440px; */
  background-color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

/* --- DEFAULT --- */

/* *,
*::before,
*::after {
  box-sizing: border-box; */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

.container.container-small {
  max-width: 296px;
  outline: 2px solid red;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--primary-brand-color);
  border: none;
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}

.button:is(:hover, :focus) {
  color: var(--primary-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button:active {
  color: var(--primary-color);
  background: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.subtitle-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.regular-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.subtle-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

/* ---------------------- MAIN ----------------------- */

/*--------- Header ---------*/

.header {
  background-color: var(--primary-color);
  border-color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo-accent {
  color: var(--primary-brand-color);
}

.mob-open-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.mob-open-btn-icon {
  fill: var(--dark-color);
}

/* Header Navigation */

.header-list {
  display: none;
}

/* Header Contacts */

.header-contact-list {
  display: none;
}

/* Mobile Menu */
.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.container.mob-container {
  padding-left: 40px;
  padding-right: 40px;
}
/* .mob-close-btn {
  display: block;
  margin-left: auto;
} */

.mob-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms var(--transition-cubic);
}

.mob-close-icon {
  fill: #000000;
  transition: fill 250ms var(--transition-cubic);
}

.mob-close-btn:hover {
  background-color: var(--pressed-state-color);
}

.mob-close-btn:hover .mob-close-icon {
  fill: var(--primary-color);
}

.mob-close-icon {
}
.mob-menu-navigation {
}
.mob-menu-list {
  margin-top: 16px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
}
.mob-menu-link.link-current {
  color: var(--primary-brand-color);
}
.mob-menu-contact {
}
.mob-menu-contact-list {
  margin-bottom: 48px;
}
.mob-menu-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-tel {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.11;
  color: var(--primary-brand-color);
  text-transform: capitalize;
}

.mob-menu-email {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contact-item {
}

.mob-social-list {
  display: flex;
  justify-content: flex-start;
  gap: calc((100% - 192px) / 3);
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--transition-cubic);
}

.mob-social-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.mob-social-icon {
  fill: var(--light-color);
}

/* --------- HERO ---------- */

.hero-container {
  background-color: var(--dark-color);
  background-image: linear-gradient(var(--hero-gradient)),
    url(../img/hero-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(var(--hero-gradient)),
      url(../img/hero-image-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  max-width: 319px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: width 250ms var(--transition-cubic),
    height 250ms var(--transition-cubic),
    margin-bottom 250ms var(--transition-cubic);
}

.hero-button.button:is(:hover, :focus) {
  width: 170px;
  height: 51px;
  margin-bottom: 5px;
}

/* --------- Strategy ---------- */

.strategy {
  max-width: 428px;
  background: var(--primary-color);
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.strategy-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
}

.strategy-icon-box {
  display: none;
}

.stategy-item-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  margin-bottom: 8px;
}

/* --------- ABOUT --------- */

.about-container {
  display: none;
}

/* --------- TEAM ---------- */

.team {
  max-width: 428px;
  background-color: var(--light-color);
  padding-top: 96px;
  padding-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.team-item {
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  text-align: center;
  margin-bottom: 8px;
}

.team-member-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-description-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: calc((100% - 192px) / 3);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--transition-cubic);
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.team-social-icon {
  fill: var(--light-color);
}

/* -------- CUSTOMERS --------- */

.customers {
  max-width: 428px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.cutomers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--transition-cubic);
}

.customers-icon {
  fill: var(--subtle-text-color);
  transition: fill 250ms var(--transition-cubic);
}

.cutomers-link:is(:hover, :focus) {
  border-color: var(--pressed-state-color);
}

.cutomers-link:is(:hover, :focus) .customers-icon {
  fill: var(--pressed-state-color);
}

/* --------- FOOTER----------- */

.footer {
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  row-gap: 72px;
}

.footer-text {
  text-align: left;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-title {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-icon-bgcolor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--transition-cubic);
}

.footer-social-icon {
  fill: var(--light-color);
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--success-color);
}

.footer-logo {
  color: var(--light-color);
}

.footer-logo-accent {
  color: var(--primary-brand-color);
}

.footer-text {
  color: var(--accent-color);
  max-width: 264px;
  margin-top: 16px;
}

.footer-subscribe-title {
  color: var(--primary-color);
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-subscribe-email {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  color: var(--primary-color);
  background-color: #2196f300;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-button-wrap {
  position: relative;
  width: 165px;
  height: 40px;
}

.subscribe-button {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  color: var(--primary-color);
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.subscribe-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}

/* ---------------------- PORTFOLIO --------------------- */

/* --------- PORTFOLIO FILTER --------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
}

/* --------- OUR WORK ---------- */

.ourwork-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.ourwork-item {
  max-width: calc((100% - 48px) / 3);
  background: var(--primary-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms var(--transition-cubic);
}

.ourwork-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourwork-link .ourwork-description-text {
  transition: transform 250ms var(--transition-cubic);
}

.ourwork-link:is(:hover, :focus) .ourwork-description-text {
  transform: translateY(0);
}

.ourwork-description-container {
  padding: 32px 16px;
}

.ourwork-subtitle {
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.ourwork-img-container {
  position: relative;
  overflow: hidden;
}

.ourwork-description-text {
  position: absolute;
  top: 0;
  height: 100%;
  color: var(--light-color);
  background-color: #4d5ae5d8;
  padding: 40px 32px;
  transform: translateY(100%);
  overflow: auto;
}

/* -----MODAL----- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  transition: opacity 250ms var(--transition-cubic),
    visibility 250ms var(--transition-cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  min-height: 586px;
  padding: 24px;
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--transition-cubic);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms var(--transition-cubic);
}

.modal-close-icon {
  fill: #000000;
  transition: fill 250ms var(--transition-cubic);
}

.modal-close-btn:hover {
  background-color: var(--pressed-state-color);
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--primary-color);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field:not(:last-child) {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 4px;
  resize: none;
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-submit-button {
  display: block;
  text-align: center;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  transition: width 250ms var(--transition-cubic),
    height 250ms var(--transition-cubic),
    margin-bottom 250ms var(--transition-cubic);
}

.modal-submit-button:is(:hover, :focus) {
  width: 170px;
  height: 51px;
  margin-bottom: 5px;
}

.check-text {
  display: flex;
  align-items: center;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 300ms linear;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
}

.policy-link {
  color: var(--primary-brand-color);
}
