@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container.container-small {
    max-width: 584px;
  }

  /* ---HEADER--- */

  /* Header Navigation */

  .header {
    padding-bottom: 10px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    /* margin-right: auto; */
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 118px;
  }

  .header-link {
    font-weight: 500;
    color: var(--dark-color);
    transition: color 250ms var(--transition-cubic);
  }

  .header-link:is(:hover, :focus) {
    color: var(--primary-brand-color);
  }

  .link-current {
    color: var(--primary-brand-color);
    position: relative;
  }

  .link-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand-color);
  }

  /* Header Contacts */

  .header-contact {
    font-style: normal;
  }

  .header-contact-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    /* align-items: center; */
    /* gap: 40px; */
  }

  .header-contact-email,
  .header-contact-tel {
    font-size: 12px;
    transition: color 250ms var(--transition-cubic);
  }

  .header-contact-email:hover,
  .header-contact-tel:hover,
  .header-contact-email:focus,
  .header-contact-tel:focus {
    color: var(--primary-brand-color);
  }

  .mob-open-btn {
    display: none;
  }

  /* ---HERO--- */
  .hero-container {
    padding-bottom: 108px;
    background-image: linear-gradient(var(--hero-gradient)),
      url(../img/hero-image.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(var(--hero-gradient)),
        url(../img/hero-image-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    min-height: 120px;
    margin-bottom: 40px;
  }

  /* ---STRATEGY--- */

  .strategy {
    max-width: 768px;
  }

  .strategy-list {
    column-gap: 24px;
  }

  .strategy-item {
    max-width: calc((100% - 24px) / 2);
  }

  .stategy-item-subtitle {
    text-align: left;
  }

  /* ---TEAM--- */

  .team {
    max-width: 768px;
    padding-bottom: 104px;
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    max-width: calc((100% - 24px) / 2);
  }

  /* ---CUSTOMERS--- */

  .customers {
    max-width: 768px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  /* ---FOOTER--- */

  .footer {
    max-width: 768px;
  }

  .footer-container {
    padding-left: 108px;
  }

  .footer-list {
    align-items: baseline;
    justify-content: start;
    text-align: left;
    column-gap: 24px;
  }

  .subscribe-form {
    flex-wrap: nowrap;
    align-items: flex-start;
    column-gap: 24px;
  }

  .footer-subscribe-title {
    text-align: left;
  }

  .footer-subscribe-email {
    width: 264px;
  }

  /* ---MODAL--- */

  .modal {
    width: 408px;
    min-height: 586px;
  }
}
